
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>reset - Student Management</title>

  <!-- Kaiadmin CSS -->
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/kaiadmin.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/fonts.min.css' %}">
</head>
<body class="bg-dark d-flex align-items-center justify-content-center" style="height: 100vh;">

  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
    <div class="text-center mb-4">
      <h3 class="text-primary fw-bold">>Reset Password</h3>
      <p class="text-muted">Reset Password  to continue</p>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  
  <div class="mb-3">
    {{ form.new_password.label_tag }}
    {{ form.new_password }}
    
    <div class="text-danger">{{ form.new_password.errors }}<div>
  </div>

  <div class="mb-3">
    {{ form.confirm_password.label_tag }}
    {{ form.confirm_password }}
    {{ form.confirm_password.errors }}
  </div>

  <button class="btn btn-primary w-100">Reset</button>
</form>

  </div>

  <!-- JS -->
  <script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
</body>
</html>
